$mobile: true;
main{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    .home{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: center;
        &__image-wrapper{
            width: 50%;
            max-width: 500px; 
        }
        &__image{
            width: 100%;
            border-radius: 7px; 
            transition: transform 0.3s ease-in-out; /* Efecto hover */
            &:hover{
                transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
            }
        }
    }
}